<h3>Tutor Instructions</h3>

<div class="container2" style="padding-right:150px; padding-left:150px">
<p> This page is meant to give you some guidance about how to use this site. One read through should be enough and after a couple of times it's going to be a very simple change that's gonna speed things up and really organize how we work!</p>

<h5>When and how to submit hours:</h5>

<p>Please submit the hours you teach immediately following the sessions, this will make things very easy for us in the future.</p>

<p> In order to fill it out, just utilize the drop down menus! Please keep in mind if the student you tutored is not available in the first drop down menu, send me an email at chris.fahmy@movermtutoring.com and I'll make sure to fix it as soon as possible.</p>

<p> If you make any mistakes in the hour submission, please go ahead and send me an emailing detailing the error, and I will fix it.</p>

<h5>Feedback</h5>
<p>This site is brand new, as such there is certainly room for improvement and I would love to get some feedback from you whenever you find any problems, please go ahead and send me an email with any updates you want me to change!</p>
