<p>Hey <%= @student.parent_name %>,</p>

<p>
	Congratulations on your commitment to a contract with Mind Over Matter Tutoring! Please be aware that this email does not mean that you have paid for the contract, it simply means that you have committed to one. You will know the payment has been received when you see the green "PAID" label on your student home page!
</p>

<p><strong> 1. Payment information </strong></p>

	<p><%= @contract.payment_information %></p>

<p><strong> 2. Rebate due to recommendations </strong></p>

	<p> If you recommend our service to another individual, you will be sent a cheque with the amount of $20 from our company to thank you for the recommendation upon the recommended individuals purchase of a contract.</p>

<p><strong> 3. Session postponement </strong></p>

	<p>If you wish to postpone a session, please let us know at least 24 hours in advance. If you let us know within 24 hours of the session, you will be charged for that session.</p>

<p><strong> 4. Sessions in arrears </strong></p>

	<p>We will tutor up to one hour in arrears before the payment arrives. Meaning that if you confirm that you want to go ahead with the contract, we will tutor up to one hour before the payment arrives. If it is time for the second hour of tutoring and the payment has not yet been received, we reserve the right to cancel the second hour and any further hours until the payment has been received.</p>
<p><strong> 5. Invoice </strong></p>
	<p>You will be receiving an invoice in a separate email shortly.</p>

	<p>Thanks again for choosing us, and please keep in mind that we are always available for contact if you have any questions or concerns!</p>





	
