@import "bootstrap";
html {
    overflow: scroll;
    position: variable;
}

body {  
padding-top: 47px;  
padding-bottom: 40px; 
 
}


.pretty_table{
table,th, td
	{
	border: 1px solid black;
	}
}